@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
            to bottom, #33007a, #4a10ff,
             #ffad00, #ffaf1c);
}

.waviy {
  position: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: center;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}



.toolbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.toolbarlist{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.toolbar_logo{
    width: 160px;
    object-fit: contain;
}

.toolbar_logo:hover{
    transform: scale(1.4)
}

.right_icons{
    padding-left: 3rem;
    padding-right: 3rem;
}

.toolbar_signin{
    width: 30px;
    object-fit: contain;
    margin-right: 20px;
}

.toolbar_search{
    width: 30px;
    object-fit: contain;
    margin-left: 5px;
}

.toolbar_signin:hover{
    transform: scale(1.6);
}

.heading_container{
    margin-left: 30px;
    padding-top: 190px;
    height: 190px
}

#tickets{
    background-color: rgb(74, 16, 255);
    color: aliceblue;
    font-size: large;
    size: 15px;
    left: 40px;
}

input[type=submit]{
    background-color: black;
    background-image: url("/static/img/jurassic bark.jpg");
    border: none;
    color: aqua;
    cursor: pointer;
}

.heading{
    /**background-image: url("jurassic bark.jpg");**/
    background-image: url("/static/img/jurassic bark.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 500px;
}

.heading_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.head_button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.head_button:hover{
    color: black;
    background-color: rgb(255, 196, 0);
    transition:all 0.2s
}

.head_desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.4rem;
    max-width: 360px;
    height: 180px;
}

.head_footer{
    margin-top: 180px;
    height: 13rem;
    background-image: linear-gradient(180deg, transparent, rgba(48, 48, 48, 0.61), rgb(2, 2, 2));
}

.play-btn{
    width: 100px;
    height: 80px;
    display: flex;
    padding: 10%;
    position: relative;
    top: 30%;
    left: -130px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.testplaybtn{
    width: 100px;
    height: 70px;
    display: flex;
    padding: 10%;
    position: relative;
    top: 10%;
    left: -120px;
    cursor: pointer;
    transition: 0.5s;
}

.testplaybtn:hover{
    opacity: 1;
}

.testaddbtn{
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    top: 75%;
    bottom: 80px;
    left: -193px;
    cursor: pointer;
    transition: 0.5s;
}

.play-btn:hover{
    opacity: 1;
}

/**make buttons 55px each to make it look nice**/
.add-btn{
    width: 55px;
    height: 55px;
    display: flex;
    position: relative;
    top: 75%;
    bottom: 80px;
    left: -202px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.add-btn:hover{
    opacity: 1;
}

.edit{
    display: flex;
}

.hidden{
    display: none !important;
}

.row{
    color: white;
    margin-left: 20px;
}

.movie_row{
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    padding: 2px;
    transition: transform 450ms;
}  

.movie_rowabout{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    margin-right: 10px;
    padding: 10px;
    transition: transform 450ms;
}

.movie_rows {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 5px;
}

.movies {
    display: flex;
    padding: 5px;
    /*changing the width to 250 makes the movies bigger.*/
}

.moviesAbout{
    display: flex;
    width: 100%;
    object-fit: contain;
    margin-right: 100px;
    padding: 10px;
    transition: transform 450ms;
}

.movie_row_about{
    width: 60%;
    max-height: 250px;
    margin-right: 10px;
    margin-left: 180px;
    padding: 2px;
    transition: transform 450ms;
}

.movie_row_about:hover{
    transform: scale(1.2);
}

.movie_rows::-webkit-scrollbar{
    display: inline-block;
}

.movie_row:hover{
    transform: scale(1.2);
}

.movie_rowabout:hover{
    transform: scale(1.2);
}

.row_list{
    color: white;
    margin-left: 20px;
}

.movie_row_list{
    width: 100%;
    object-fit: contain;
    max-height: 300px;
    margin-right: 20px;
    transition: transform 450ms;
}

.movie_rows_list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.movie_rows_list::-webkit-scrollbar{
    display: inline-block;
}

.movie_row_list:hover{
    transform: scale(1.2);
}

.nav_gold{
    background-color: rgb(255, 192, 34);

}

.nav_purple{
    background-color: rgb(65, 0, 243);

}

.heading_container_about{
    margin-left: 30px;
    padding-top: 390px;
    height: 450px
}

.heading_about{
    background-image: url("/static/img/add.png");
    background-size: cover;
    background-position: center center;
    color: white;
    background-color: black;
    object-fit: contain;
    height: 700px;
}

.heading_title_about{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.head_button_about{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.head_button_about:hover{
    color: black;
    background-color: rgb(255, 196, 0);
    transition:all 0.2s
}

.head_desc_about{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.head_footer_about{
    margin-top: 105px;
    height: 9.1rem;
    background-image: linear-gradient(180deg, transparent, rgb(37, 37, 37, 0.61), #111);
}

